

{% extends 'base.html' %}
{% block body %}
{% load static %}
    <style>
        .container{
            display: flex;
            height:25vh;
            align-items: center;
            justify-content: center;
        }
    .form1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        
    }
    form{
        padding:30px;
    }
    .close {
        position: absolute;
        top: 3px;
        right: 8px;
        font-size: 40px;
        color: rgb(255, 255, 255);
        transform: rotate(45deg);
        cursor: pointer;
        text-decoration: none;
        
    }
    button{
        background-color:rgb(103, 175, 220) ;
        color:white;
        padding:10px 20px;
    }
</style>
<script>
    $(document).ready(function() {
  $("#id_recurring_event").change(function() {
    if ($(this).val() === "No") {
      $('#recurrence_pattern').hide();
    } else {
      $('#recurrence_pattern').show();
    }
  });
  $("#id_recurring_event").trigger("change")
})
</script>
<div class="container">
    <div class="form1"style=" background-color:rgba(0,0,0,0.3);">
        <a href="javascript:history.go(-1);" class="close">+</a>
        <h5 style="background-color:rgb(103, 175, 220) ; color:white; text-align: center; padding: 5px 0; width:100%;">For Statutory and payroll reports</h5>
        <div class="content-section">
            <form method="POST">
              <fieldset class="form-group">
                <div id="event_name">
                  <p>name in payslip</p>
                </div>
                <div id="recurring_event">
                  <select id="id_recurring_event">
                    <option value="Yes">Yes</option>
                    <option value="No" selected="true">No</option>
                  </select>
                </div>
                <div id="recurrence_pattern">
                    <div><p>Type</p></div>
        <input type="text" value="compound" class="form-control">
        <div><p>Type</p></div>
        <input type="text" value="compound" class="form-control">
                </div>
                
              </fieldset>
            </form>
          </div>
</div>
</div>
{% endblock %}




































































