

{% extends 'base.html' %}
{% block body %}
{% load static %}
    <style>
        .container{
            display: flex;
            height:49vh;
            align-items: center;
            justify-content: center;
            padding-top:750px;"
        }
    .form1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        
    }
    form{
        padding:30px;
    }
    .close {
        position: absolute;
        top: 3px;
        right: 8px;
        font-size: 25px;
        color: rgb(255, 255, 255);
        transform: rotate(45deg);
        cursor: pointer;
        text-decoration: none;
        
    }
    button{
        background-color:rgb(103, 175, 220) ;
        color:white;
        padding:10px 20px;
    }
</style>
<div class="container">
  <div class="form1"style=" background-color:rgba(0,0,0,0.3);">
      <a href="javascript:history.go(-1);" class="close">+</a>
      <h5 style="background-color:rgb(103, 175, 220) ; color:white; text-align: center; padding: 5px 0; width:100%;">Employee Group Creation</h5>
      <form action="" method="post">

<!-- <div class="container">
<div class="form1">
    <a href="javascript:history.go(-1);" class="close">+</a>
    <h5 style="background-color:rgb(103, 175, 220) ; color:white; text-align: center; padding: 5px 0; width:100%;">Group Alteration(Secondary)</h5>
    <form action="" method="post"> -->
    
        
        <div><p>Name</p></div>
        <input type="text" class="form-control">
        <div><p>(Alias)</p></div>
        <input type="text" class="form-control">
        <div><p>Under</p></div>
        <select name="primary" id="primary" class="form-control">
            <option value="primary">Primary</option>
        </select>
        <div><p>Date of joining</p></div>
        <input type="date" class="form-control">
        <div><p>Define salary details </p></div>
        <select name="salary" id="salary" class="form-control">
            <option value="yes">yes</option>
            <option value="yes">no</option>
        </select>
        <hr>
        <div><h1>General information</h1></div>
        <div><p>Employee number</p></div>
        <input type="text" class="form-control">
        <div><p>Designation</p></div>
        <input type="text" class="form-control">
        <div><p>Function</p></div>
        <input type="text" class="form-control">
        <div><p>Location</p></div>
        <input type="text" class="form-control">
        <div><p>Date of birth</p></div>
        <input type="text" class="form-control">
        <div><p>Gender</p></div>
        <select name="unknown" id="unknown" class="form-control">
            <option value="primary">unknown</option>
            <option value="primary">male</option>
            <option value="primary">female</option>
            <option value="primary">transgender</option>
        </select>
        <div><p>Father's/mother's name</p></div>
        <input type="text" class="form-control">
        <div><p>Spouse's name</p></div>
        <input type="text" class="form-control">
        <div><p>Designation</p></div>
        <input type="text" class="form-control">
        <div><p>Address</p></div>
        <input type="text" class="form-control">
        <div><p>Phone no</p></div>
        <input type="text" class="form-control">
        <div><p>Email</p></div>
        <input type="email" class="form-control">
        <div><p>Provide bank details</p></div>
        <select name="unknown" id="unknown" class="form-control">
          <option value="yes">yes</option>
          <option value="no">no</option>
        </select>
        <hr>
        <div><h1>Statutory Details</h1></div>
        <div><p>Income Tax Number(PAN)</p></div>
        <input type="text" class="form-control">
        <div><p>Aadhar Number</p></div>
        <input type="text" class="form-control">
        <div><p>Universal Account No(UAN)</p></div>
        <input type="text" class="form-control">
        <div><p>PF Account no</p></div>
        <input type="text" class="form-control">
        <div><p>PR aaccount no(PRAN)</p></div>
        <input type="text" class="form-control">
        <div><p>ESI Number</p></div>
        <input type="text" class="form-control"><br><br>
        



        
        
<button><h5>Create</h5></button>
    </form>
</div>
</div>
{% endblock %}





















































































